$white: #fff;
$black: #000;
$topBorderColor: #EFEADA;
$colorBtn: #1D1D1D; 
$sliderText: #5A5A5B;
$lightBlack: #393734;
$offersColor: #302F2B;
$bannerText: #302F2B;
$bgBanner: #00b7d9;
$titleColor: #4D4C49;
$bgBanner2: #D5D9D3;
$titleFooterContent: #575153;
$textFooterContent: #A7A7A7;