.banner2{
	background: url('../img/banner2.jpg') 0 0 no-repeat;
	background-size: cover;
	margin: 100px 0 0;
	padding: 50px 0 45px;
	display: flex;
	justify-content: flex-start;

	.banner2_information{
		flex-basis: 530px;
		text-align: center;
		margin-left: 100px;
		z-index: 2;

		.banner2_title{
			color: #44433F;
			font-size: 26px;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 20px; 
		}

		.banner2_text{
			letter-spacing: 6.3px;
			font-size: 16.21px;
			line-height: 23px; 
			margin-bottom: 50px; 
		}

		.banner2_btn{
			@include btn();
			font-size: 12.24px;
			letter-spacing: 0.712px;
			padding: 25px 47px;
		}
	} 
}

@media screen and (max-width: 992px) {
	.banner2{
		background: url('../img/banner2.jpg') -200px 0 no-repeat;
		.banner2_information{
			margin-left: 32px;
		}
	}
}

@media screen and (max-width: 768px) {
	.banner2{
		background: $bgBanner2;
		justify-content: center;
		margin: 70px 0;

		.banner2_information{
			margin-left: 0;
		}
	}
}

@media screen and (max-width: 480px) {
	.banner2{

		.banner2_information{

			.banner2_title{
				font-size: 23px;

				.banner2_text{
					font-size: 11.21px;
				}
			}
		}
	}
}