.menu{

	ul{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		
		a{
			font-size: 12px;
			text-decoration: none;
			text-transform: uppercase;
			line-height: 23px;
			color: $black;
			letter-spacing: 0.96px;
			margin: 0 4px;

			&:hover{
				color: #3B3B3B;
			}
		}
	}
}